* {
  margin: 0;
  padding: 0;
}
.toDoCheck {
  width: 450px;
  margin: 2em auto;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.5em;
}

.doneToDoCheck{
  width: 450px;
  margin: 2em auto;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.5em;
}